<ng-content select=".header"></ng-content>

<p>content-container works!</p>

<ng-content></ng-content>

<ng-content select="footer"></ng-content>

<ng-template #ref let-foo="foo" let-prefix>
  <p>{{prefix}} I am template {{foo}}</p>
</ng-template>

<ng-container
*ngTemplateOutlet="ref; context: {foo: 123, $implicit: 'hey'}"
></ng-container>

<ng-container>
  <div *ngFor="let item of [1,2,3]">{{item}}</div>
</ng-container>

<ng-template #defaultTemplate let-element>
  <p>{{element}} I am default template</p>
</ng-template>

<div *ngFor="let item of [1,2,3]">
  <ng-container *ngTemplateOutlet="template || defaultTemplate; context: {$implicit: item}"
></ng-container>
</div>