<app-user></app-user>
<hr>
<app-product></app-product>
<hr>
<app-category></app-category>
<hr>
<app-review></app-review>
<hr>
<app-comment></app-comment>
<hr>
<app-binding></app-binding>
<hr>
<app-foo></app-foo>
<hr>
<app-doo></app-doo>
<hr>
<app-goo [(counter)]="age" [foobar]="'2352353245'" (sayHi)="onSayHi($event)" [title]="expression ? 'one' : 'two'"></app-goo>
<button (click)="expression = !expression">{{expression ? 'one' : 'two'}}</button>
<hr>
<app-content-container [template]="ref">
  <h3 class="header">Header</h3>
  <p class="body">Boapp-con  <footer class="footer">Footer</footer>
</app-content-container>

<ng-template #ref let-element>
  <p>{{element}} I am from App component</p>
</ng-template>

<hr>

<div>
  <button (click)="menu1.show()">
    Open menu
  </button>
  <app-menu #menu1>
    <p>From ap component 1</p>
  </app-menu>
</div>

<div>
  <button (click)="menu2.show()">
    Open menu
  </button>
  <app-menu #menu2>
    <p>From ap component 2</p>
  </app-menu>
</div>

<div>
  <button (click)="menu3.show()">
    Open menu
  </button>
  <app-menu #menu3>
    <p>From ap component 3</p>
  </app-menu>
</div>